<h2>{{ product }}</h2>

<h4>h4 : {{ products }}</h4>

<!-- <input
  type="radio"
  id="a"
  name="sample"
  value="pure"
  (change)="onChange($event)"
  checked
/>
<label for="a">A</label>

<input
  type="radio"
  id="b"
  name="sample"
  value="b"
  (change)="onChange($event)"
/>
<label for="b">B</label> -->

<!-- <input type="radio" value="A" name="A" (change)="change($event)" /> A Box
<input type="radio" value="B" name="B" (change)="change($event)" /> B Box -->

<!-- <input type="radio" value="A" name="A" [(ngModel)]="products" /> A Box
<input type="radio" value="B" name="B" [(ngModel)]="products" /> B Box -->

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
